:root {
    --very-ligth-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;
    --white: #ffffff;
    --black: #000000;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
}

.product-card {
    width: 240px;  
}

.product-card img {
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}

.product-info {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card figure {
    margin: 0;
}

.product-card figure img {
    width: 35px;
    height: 35px;
}

.product-card div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0px;
    margin-bottom: 4px;
}

.product-card div p:nth-child(2) {
    font-weight: bold;
    font-size: var(--sm);
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--very-ligth-pink);
}

@media (max-width: 640px) {
    .cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, 140px);
        gap: 26px;
    }
    .product-card {
        width: 140px;  
    }
    
    .product-card img {
        width: 140px;
        height: 140px;
    }
}
